.scroll-text-message span {
    color: #888; /* some neutral gray */
    transition: color 0.5s ease-in-out;
    font-style: normal;
    font-weight: 900;
    word-spacing: 30px;
    font-optical-sizing: auto;
    margin-right: 10px; 
}

.scroll-text-section{
    max-height: 100vh;
    overflow: hidden;
}

.fixed-img{
    object-fit: cover;
    width: 300px;
    height: 250px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* reduce clickable area */
  top: 50%;
 
  background-color: transparent; /* optional */
}
.carousel-control-prev{
    transform: translateX(-60%);
    left: -2%;  /* move it slightly outside the carousel */
}
.carousel-control-next{
    transform: translateX(60%);
    right: -2%; /* move it slightly outside the carousel */
}
.carousel-control-next-mobile-tablet{
  left: 85% !important;
}

.carousel-control-prev-icon{
  background-color:black;
}
.carousel-control-next-icon{
    background-color:black;
}
.carousel-indicators{
  top: 95%;
}
.carousel-indicators [data-bs-target]{

  background-color: black !important;
}
@media (max-width: 768px) {
 .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* better for mobile */
    left: 0;
    right: 0;
  }
}
/* @media screen and (max-width: 575px){
  .scroll-text-message span {
      font-size: 1.7rem !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  .scroll-text-message span {
      font-size: 2.1rem !important;
  }
}
@media screen and (min-width: 768px){
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%; /* better for mobile 
    left: 0;
    right: 0;
  }
  .scroll-text-message span {
      font-size: 3.2xrem !important;
  }
} */